<div class="well">
	
	<div class="row">
		<div class="col-sm-6">
			<h2>ng-if</h2>
			<p class="text-muted">css transition</p>

			<input type="checkbox" ng-model="isIf">

			<div ng-if="isIf" class="transition-example">
				<p class="text-muted">Visible!</p>
			</div>

		</div>
		<div class="col-sm-6">
			<h2>ng-show</h2>
			<p class="text-muted">css animation</p>

			<input type="checkbox" ng-model="show">

			<div ng-show="show" class="animation-example">
				<p class="text-muted">Visible!</p>
			</div>

		</div>
	</div>

	

</div>